body{
    background-image: url(login_pic1.jpg);
    background-color: gray;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.login_page{
    width:360px;
    padding: 60px;
    margin: auto;
}

.form{
    background-color: whitesmoke;
    margin-top: 80px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: sans-serif;
    outline: 0;
    background: #18661b;
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active{
    background: #2e8d31;
}





